@model Expending_Card.Models.CardViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>編輯卡片</h2>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Card</th>
      <th scope="col" colspan="2">Details</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model.Cards)
    {
        <tr>
            <th scope="row">@item.Order</th>
            <td>@item.Name</td>
            <td colspan="2">@item.Name</td>
        </tr>
    }
  </tbody>
</table>
<div class="row mt-3">
    <div class="col-md-10">
        <form id="create-info" class="form-inline" method="post">
            <div class="text-secondary col-md-2">建立新卡片</div>
            <div class="form-group col-md-3">
                <input name="name" class="form-control" placeholder="卡片名稱" required="required"/>
            </div>
            <div class="text-secondary col-md-3"></div>
            <div class="form-group col-md-2">
                <input type="submit" value="Create" class="btn btn-default" onclick="createCard();" />
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-10">
        <form id="delete-info" class="form-inline" method="post">
            <div class="text-secondary col-md-2">刪除卡片</div>
            <div class="form-group col-md-3">
                <input name="name" class="form-control" placeholder="卡片名稱" required="required"/>
            </div>
            <div class="text-secondary col-md-3"></div>
            <div class="form-group col-md-2">
                <input type="submit" value="Delete" class="btn btn-default" onclick="deleteCard();"/>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-10">
        <form id="update-name" class="form-inline" method="post">
            <div class="text-secondary col-md-2">修改卡片名稱</div>
            <div class="form-group col-md-3">
                <input name="oldName" id="oldName" class="form-control" placeholder="現在名稱" required="required"/>
            </div>
            <div class ="form-group col-md-3">
                <input name="newName" id="newName" class="form-control" placeholder="更新名稱" required="required"/>
            </div>
            <div class="form-group col-md-2">
                <input type="submit" value="Update" class="btn btn-default" onclick="updateCardName();"/>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>    
    let cards = [];
    @foreach (var item in Model.Cards)
    {
        @:cards.push('@item.Name');
    }
    
    function createCard() {
        console.log("建立卡片")
        editInfo('https://localhost:5001/CatalogCard/AddCard', "create-info")
    }

    function deleteCard() {
        editInfo('https://localhost:5001/CatalogCard/DeleteCard', "delete-info")
    }
    
    function updateCardName() {
        editInfo('https://localhost:5001/CatalogCard/UpdateCardName', "update-name");
    }
    
    function editInfo(url, form) {
        let data = new FormData(document.forms.namedItem(form));
        console.log("傳送資料")
        axios.post(url, data)
        .then(function (response) {
            console.log(response.data);
            alert(response.data);
        })
        .catch(function (error) {
            alert(error.response.data);
        });
    }
   </script>
}