@model Expending_Card.Models.ExpendingViewModel

@{
    ViewBag.Title = "編輯記帳明細";
    Layout = "_Layout";
}

<div class="row">
    <h2>全部記帳明細</h2>
</div>

<div class="row mt-4">
    <table class="table col-12">
      <thead class="thead-light">
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Date</th>
          <th scope="col" colspan="2">Details</th>
          <th scope="col">Price</th>
          <th scope="col">Card</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in @Model.DetailViewModel.Details)
        {
            <tr>
                <td scope="row" name="order" class="align-middle detail-order">@item.Order</td>
                <td scope="row" class="align-middle">@item.Date</td>
                <td colspan="2" class="align-middle">@item.Detail</td>
                <td class="align-middle">@item.Price</td>
                <td class="align-middle">@item.Card.Name</td>
                <td>
                    <button type="button" class="btn btn-light" onclick="deleteDetail(this);">Delete</button>
                    <button type="button" class="btn btn-light" onclick="">Update</button>
                </td>
            </tr>
        }
      </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>    
    function postEdit(url,obj){
        let order = $(obj).closest("tr").find(".detail-order").text();
        let params = new URLSearchParams();;
        params.append("order",order)
        console.log(typeof order)
        axios.post(url, params)
        .then(function (res){
            alert(res.data)
            window.location.href  = "https://localhost:5001/Details/Edit"
        })
        .catch(function (error){
            alert(error.response.data)
        })
    }
    
    function deleteDetail(obj) {
        let order = $(obj).closest("tr").find(".detail-order").text();
        console.log(order)
        postEdit("https://localhost:5001/Details/Delete", obj)
    }
    
    
    </script>
}
